<div class="container my-5">
  <div class="text-center">
    <h1 class="display-5 text-primary">Everything you are. In one, simple link in bio. </h1>
    <p class="lead text-muted">One link to help you share everything you create, curate and sell from your Instagram, TikTok, Twitter, YouTube and other social media profiles.</p>

    <% if user_signed_in? %>
      <% if current_user.tree.present? %>
        <%= link_to "View My Tree", current_user.tree , class: "btn btn-primary btn-lg mt-3"  %>
      <% else %>
       <%= link_to "Create your own Link Tree", new_tree_path, class: "btn btn-success btn-lg mt-3" %>
      <% end %>
    <% else %>
       <%= link_to "Create your own Link Tree", new_tree_path, class: "btn btn-success btn-lg mt-3" %>
    <% end %>
  </div>
</div>
