<div class="container my-5">
  <div class="text-center">
    <h1 class="display-4 text-primary">Welcome to Linktree</h1>
    <p class="lead text-muted">Manage your trees and links effortlessly!</p>

    <%= link_to "New Tree", new_tree_path, class: "btn btn-success btn-lg mt-3" %>
  </div>
</div>
